
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}
/* Navbar */
.navbar{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
z-index:10;
background:#111;
}

.logo{
font-size:28px;
font-weight:bold;
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

nav ul li a:hover{
color:#ff4d4d;
}
.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url('../images/pizza-bg.jpg');
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:80px 20px;
}

.hero-content h1{
font-size:55px;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
margin-bottom:30px;
max-width:600px;
}

.btn{
background:#ff4d4d;
color:white;
padding:15px 30px;
text-decoration:none;
font-size:18px;
border-radius:5px;
transition:0.3s;
}

.btn:hover{
background:#e60000;
}

/* pizza section */
.pizza-section{
padding:80px 10%;
text-align:center;
background:linear-gradient(to bottom, #1a1a1a, #111);
color:white;
}

.pizza-section h2{
font-size:42px;
margin-bottom:40px;
color:#fff;
letter-spacing:1px;
}

.pizza-container{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
}

.pizza-card{
background:#242424;
padding:20px;
border-radius:12px;
width:260px;
box-shadow:0 8px 20px rgba(0,0,0,0.6);
text-align:center;
transition:0.3s;
}

.pizza-card:hover{
transform:translateY(-10px) scale(1.03);
box-shadow:0 10px 25px rgba(0,0,0,0.8);
}

.pizza-card img{
width:100%;
height:200px;      /* forces same height for all images */
object-fit:cover;  /* crops image nicely without distortion */
border-radius:10px;
}

.pizza-card h3{
margin:15px 0;
}

.price{
font-size:20px;
color:#ff4d4d;
margin:10px 0;
}

.pizza-card input{
width:60px;
padding:5px;
margin:10px 0;
background:#2a2a2a;
border:none;
color:white;
text-align:center;
border-radius:4px;
}

.pizza-card button{
background:#ff4d4d;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.pizza-card button:hover{
background:#ff2a2a;
}

.pizza-card button:hover{
background:#e60000;
}
/* Menu section */
.menu-section{
padding:140px 10% 80px;
background:#111;
min-height:100vh;
}
.menu-section h2{
text-align:center;
font-size:40px;
color:white;
margin-bottom:50px;
}

.menu-title{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.menu-container{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
}

/* About Section */

.about-section{
padding:120px 10%;
background:#111;
color:white;
}

.about-container{
display:flex;
align-items:center;
gap:50px;
flex-wrap:wrap;
}

.about-image img{
width:450px;
border-radius:10px;
}

.about-text{
max-width:500px;
}

.about-text h2{
font-size:40px;
margin-bottom:20px;
}

.about-text p{
line-height:1.6;
margin-bottom:15px;
color:#ccc;
}

/* Why Section */

.why-section{
padding:80px 10%;
background:#1a1a1a;
text-align:center;
color:white;
}

.why-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:40px;
}

.why-card{
background:#242424;
padding:30px;
border-radius:10px;
width:250px;
transition:0.3s;
}

.why-card:hover{
transform:translateY(-10px);
}


/* Contact Page */

.contact-section{
padding:120px 10% 80px;
background:#111;
color:white;
text-align:center;
}

.contact-section h2{
font-size:40px;
margin-bottom:50px;
}

.contact-container{
display:flex;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}

.contact-info{
max-width:400px;
text-align:left;
}

.contact-info h3{
margin-bottom:20px;
}

.contact-info p{
margin-bottom:12px;
color:#ccc;
}

.contact-form{
background:#242424;
padding:30px;
border-radius:10px;
width:350px;
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:10px;
margin-bottom:15px;
border:none;
border-radius:5px;
background:#333;
color:white;
}

.contact-form button{
background:#ff4d4d;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}

.contact-form button:hover{
background:#e60000;
}

/* Login Page */

.login-section{
padding:140px 10%;
background:#111;
min-height:100vh;
text-align:center;
color:white;
}

.login-section h2{
font-size:36px;
margin-bottom:40px;
}

.login-box{
background:#242424;
padding:40px;
width:350px;
margin:auto;
border-radius:10px;
}

.login-box input{
width:100%;
padding:12px;
margin-bottom:15px;
border:none;
border-radius:5px;
background:#333;
color:white;
}

.login-box button{
width:100%;
padding:12px;
background:#ff4d4d;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

.login-box button:hover{
background:#e60000;
}

.register-link{
margin-top:15px;
}

.register-link a{
color:#ff4d4d;
text-decoration:none;
}

.error{
color:red;
margin-top:10px;
}


/* CART PAGE */

.cart-section{
padding:120px 10%;
min-height:100vh;
background:#111;
color:white;
text-align:center;
}

.cart-container{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.cart-item{
display:flex;
align-items:center;
justify-content:space-between;
gap:25px;

background:#242424;
padding:20px 25px;
border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,0.6);
margin-bottom:20px;
}

.cart-img{
width:100px;
height:100px;
object-fit:cover;
border-radius:10px;
}

.cart-info{
flex:1;
text-align:right;
}
.cart-info p{
margin:4px 0;
color:#ddd;
}

.cart-info h3{
margin-bottom:8px;
}

.cart-total{
margin-top:30px;
font-size:26px;
color:#ff4d4d;
}

/* CHECKOUT PAGE */

.checkout-section{
padding:140px 10%;
background:#111;
color:white;
min-height:100vh;
text-align:center;
}

.checkout-section h2{
font-size:38px;
margin-bottom:40px;
}

.checkout-container{
display:flex;
justify-content:center;
align-items:flex-start;
gap:60px;
flex-wrap:wrap;
}

.order-summary{
background:#242424;
padding:30px;
border-radius:12px;
width:320px;
text-align:left;
}

.order-summary p{
margin-bottom:10px;
color:#ddd;
}

.checkout-total{
margin-top:20px;
color:#ff4d4d;
}

.checkout-form{
background:#242424;
padding:30px;
border-radius:12px;
width:320px;
display:flex;
flex-direction:column;
gap:15px;
}

.checkout-form input,
.checkout-form textarea{
padding:12px;
border:none;
border-radius:6px;
background:#333;
color:white;
}

.checkout-form textarea{
height:80px;
resize:none;
}

.checkout-form button{
margin-top:10px;
}

/* ORDER SUCCESS PAGE */

.order-success{
padding:160px 20px;
background:#111;
color:white;
text-align:center;
min-height:100vh;
}

.order-success h2{
font-size:42px;
margin-bottom:20px;
color:#ff4d4d;
}

.order-success p{
font-size:18px;
margin-bottom:15px;
color:#ddd;
}

.order-success .btn{
margin-top:25px;
display:inline-block;
}

/* order greet */
.user-greet{
color:#ff4d4d;
font-weight:bold;
margin-left:20px;
}

/* Footer */

.footer{
background:#000;
border-top:2px solid #222;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer-box{
flex:1;
min-width:200px;
}

.footer-box h2{
color:#fff;
font-size:26px;
margin-bottom:15px;
}

.footer-box h3{
margin-bottom:15px;
}

.footer-box p{
color:#bbb;
margin-bottom:8px;
}

.footer-box ul{
list-style:none;
}

.footer-box ul li{
margin-bottom:10px;
}

.footer-box ul li a{
color:#bbb;
text-decoration:none;
transition:0.3s;
}

.footer-box ul li a:hover{
color:#ff4d4d;
}

.footer-bottom{
text-align:center;
margin-top:40px;
border-top:1px solid #333;
padding-top:20px;
color:#bbb;
}

.footer-box ul li a:hover{
color:#ff4d4d;
padding-left:5px;
}